<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新建连接</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<style>
    body {
        background-color: #bbbbbb;
    }

    .input-group {
        padding-top: 10px;
        width: 250px;
    }

</style>
<body>
    <div class="container" id='form'>
        <div class="input">
            <div class="input-group ">

                <span class="input-group-addon">连接名</span>
                <input type="text" class="form-control " id="name" v-model="data.name">
            </div>
            <div class="input-group ">
                <span class="input-group-addon">主机地址</span>
                <input type="text" class="form-control " id="host" v-model="data.host">
            </div>
            <div class="input-group">
                <span class="input-group-addon">端口</span>
                <input type="number" class="form-control" id="port" v-model="data.port">
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="text" class="form-control" v-model="data.pass">
            </div>
            <div class="input-group">
                <button class="btn btn-primary" style="width: 250px" @click="submit">确定</button>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"/>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/redis.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <script src="js/connection.js"></script>
    <script>
        require('./js/nav')
    </script>
</body>
</html>