<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>XRedis</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="left" id='tree'>
        <tree-item v-for="(node,index) in nodes" v-bind:node="node" v-bind:key="index">
        </tree-item>
    </div>
    <div class="right">
        <div class="top-r" id="info">
            <div v-if="show" class="info">
                <div class="key">
                    <h2 v-if="!rename"><i class="icon icon-key"></i>{{key}}</h2>
                    <button class="btn btn-primary">重命名</button>
                    <button class="btn btn-danger">删除此键</button>
                </div>
                <div v-if="rename"><input type="text">
                    <button><i class="icon-ok"></i></button>
                    <button><i class="icon-remove"></i></button>
                </div>
                <div class="info-text">
                    <h4 v-if=" type!==null"><i class="icon icon-tag"></i>类型 : {{type}}</h4>
                    <h4 v-if="length!==null"><i class="icon icon-tag"></i>大小 : {{length}}</h4>
                </div>
            </div>

        </div>
        <div style="min-height: 1px;width: 100%;background-color: #0f0f0f;z-index: 100"></div>
        <div class="right-b">
            <div class="page-control" id="page-control">
                <div class="page-control-content" v-if="true">
                    <div class="input-group">
                        <span class="input-group-addon">总页数</span>
                        <input type="number" class="form-control" :value="pageCount" readonly="readonly">

                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">页码</span>
                        <input type="number" class="form-control" :value="cursor" v-model="inputCursor">
                        <span class="input-group-btn">
                            <button class="btn btn-default" v-on:click="refresh" type="button"><i
                                    class="icon-arrow-right"></i></button>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">每页个数</span>
                        <input type="number" class="form-control" :value="pageSize" v-model="inputPageSize">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" v-on:click="refresh"><i
                                    class="icon-arrow-right"></i></button>
                        </span>
                    </div>

                </div>
            </div>
            <div class="data">
                <table class="table table-bordered" id="table">
                    <tr>
                        <th>index</th>
                        <th v-for="t in headers">{{t}}</th>
                    </tr>
                    <tr is="tr-item" v-for="(item,index) in result"
                        v-bind:res="item" v-bind:index="index" ></tr>
                </table>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/redis.js"></script>
    <script src="js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flat-ui.min.js"></script>
</body>
</html>